<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVENT MANAGEMENT</title>
    <link rel="stylesheet" href={%static 'style.css'%}>
</head>
<body> 

    <header>
        
        <img id="logo" src="https://www.efuturex.com/static/assets/img/EFUTUREX-Logo.png"alt="logo of efutrex"/>
        <nav>
            <a class="nav-link" href="{% url 'index'  %}">Home</a>
            <a class="nav-link" href="{% url 'login'  %}">Login</a>
            <a class="nav-link" href="">Registration</a>
             
        </nav>
    </header>
    <section id="events">
        {% for event in events%}
        <div class="event-card">
            <h2>{{event.event_title}}</h2>
            <p>{{event.location}}</p>
            <p>{{event.date}}</p>
            <a href="{% url 'eventdetail' event.pk %}" class="details_btn">DETAILS</a>
        </div>
        {%endfor%}
        {% comment %} <div class="event-card">
            <h2>Cyber Security</h2>
            <p>Angamaly</p>
            <p>09/10/2023</p>
            <a href="" class="details_btn">DETAILS</a>
        </div> {% endcomment %}
    </section>
    <footer>
        <p>&copy;2023 Event Registration System</p>
    </footer>

    

</body>
</html>